Source:
Section: science
Priority: optional
Maintainer: Ivo Filot <ivo@ivofilot.nl>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: http://www.ivofilot.nl
Package: edp
Version:
Architecture: amd64
Depends: libcairo2 (>= 1.14.8-1), libgomp1 (>=6.3.0-18), libc6 (>= 2.24)
Description: Electronic Density Plotter
 Electron density plotter is a tiny tool for generating electron density
 plots from VASP output.
